<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <!-- CSS only -->
    <link rel="stylesheet"  type ="text/css" href="{% static '..//static/semantic-ui/semantic.css' %}">
</head>
<body>

    <div class="ui inverted segment">
        <div class="ui inverted secondary menu">
          <a class="item" href="{% url 'home' %}">SocialApp</a>
          <a class="item" href="https://www.github.com"> Github</a>
          <div class="right menu">
            {% if user.is_authenticated %}
              <a class="item" href="">Post</a>
              <a class="item" href="">Groups</a>    
              <a class="item" href="">Create Group</a>             
              <a class="item" href="{% url 'accounts:logout' %}">Logout</a>
              <a class="item" href="">Welcome {{user.username}}</a>
            {% else %}
               <a class="item" href="">Groups</a> 
               <a class="item" href="{% url 'accounts:signup' %}">Signup</a> 
               <a class="item" href="{% url 'accounts:login' %}"><i class="sign in alternate icon"></i>Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    

   
    <div class="ui container">
        <div class="ui segment">   
            <h1><img src="https://www.w3schools.com/favicon.ico" alt="not found">Github</h1>
        </div>
        {% block body_block %}

        {% endblock %}
    </div>
    


    
</body>
</html>